*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Anybody", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
}

@media (max-width: 900px) {
  .services {
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .our-story__paragraph {
    text-align: center;
  }
  .our-story__paragraph p {
    margin-block-end: 4rem;
    width: 100% !important;
  }
}
body {
  background-color: lightblue;
}

.about-us {
  background-image: url(../Assets/Images/Sc\ Pool\ Services\ About\ Us\ Hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.our-story {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50rem, 100%), 1fr));
  background-color: #1e449a;
  padding: 5em;
  place-items: center;
}
.our-story__paragraph h2 {
  font-family: "Lobster";
  letter-spacing: 0;
  font-size: clamp(5rem, 6vw, 10rem);
  color: #dfed3c;
}
.our-story__paragraph p {
  color: #fff;
  font-size: clamp(1.2rem, 2vw, 2rem);
  width: 80%;
  margin-block-start: 2rem;
}

.services-hero {
  background-image: url(../Assets/Images/Sc\ Pool\ Services\ Services\ Hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services__group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 5rem;
  padding: 5em;
  background-image: url(../Assets/Images/Sc\ Pool\ Services-Services\ BG\ Image.jpg);
}
.services__group div {
  background-color: #dfed3c;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}
.services__group div h2 {
  text-transform: capitalize;
  font-size: clamp(1.6rem, 1vw, 2rem);
  margin-block: 2rem;
}
.services__group div p {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}

.contact-hero {
  background-image: url(../Assets/Images/Sc\ Pool\ Services\ Contact\ Hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50rem, 100%), 1fr));
  padding-block: clamp(4rem, 5vw, 10rem);
  background-color: #1e449a;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__info h2 {
  color: #dfed3c;
  font-family: "Lobster";
  font-size: clamp(5rem, 8vw, 12rem);
  line-height: 1;
  margin-block-start: -5rem;
}
.contact__info p {
  color: #fff;
  font-family: "Anybody";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-block-end: 1rem;
}

.logo-container {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: clamp(20rem, 30vw, 40rem);
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#1e449a, #1c2d5a);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.navigation__nav {
  height: 100svh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__link {
  margin-top: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.5s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #1c2d5a;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.services {
  padding: 6rem;
  gap: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c2d5a;
}
.services__content {
  flex: 1;
}
.services__content h2 {
  color: #fff;
  font-size: clamp(2rem, 3vw, 3rem);
  text-transform: capitalize;
  letter-spacing: 2px;
}
.services__content h2 span {
  font-family: "Lobster";
  letter-spacing: 0;
  font-size: clamp(5rem, 6vw, 10rem);
  color: #dfed3c;
}
.services__content p {
  color: #fff;
  font-size: clamp(1.2rem, 2vw, 2rem);
  width: 60%;
  margin-block-start: 2rem;
}
.services__cta {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  background-color: #dfed3c;
  padding: 1em 2em;
  border-radius: 5rem;
  cursor: pointer;
  margin-block-start: 6rem;
}
.services__cta a {
  text-decoration: none;
  color: #000;
}
.services__icons {
  flex: 1;
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
}
.services__containers {
  flex: 30%;
  background-color: #dfed3c;
  border-radius: 2rem;
  padding: 3em;
  text-align: center;
}
.services__containers h3 {
  font-size: clamp(1.3rem, 1vw, 1.6rem);
  text-transform: capitalize;
}

.stand {
  background-color: #1e449a;
  color: #fff;
  text-align: center;
}
.stand h2 {
  text-transform: capitalize;
  font-size: clamp(2rem, 3vw, 3rem);
  letter-spacing: 2px;
}
.stand h2 span {
  font-family: "Lobster";
  letter-spacing: 0;
  font-size: clamp(5rem, 6vw, 7rem);
  color: #dfed3c;
  line-height: 1;
}

.stand-out {
  margin-block-start: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(650px, 100%), 1fr));
  gap: 3rem;
}
.stand-out__info--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(7rem, 12vw, 18rem);
  cursor: pointer;
  text-align: left;
  margin-block-end: 2rem;
}
.stand-out__info--heading h3 {
  font-family: "Kalam";
  font-size: clamp(2rem, 2vw, 2.7rem);
  color: #dfed3c;
  margin-inline-end: 2rem;
}
.stand-out__text p {
  margin-inline: clamp(7rem, 12vw, 18rem);
  text-align: left;
  width: 50%;
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
}
.stand-out__image {
  display: grid;
  grid-template-areas: "net test-kit test-kit" "shop test-kit test-kit";
  place-items: center;
  gap: clamp(1rem, 2vw, 3rem);
  padding: 3rem;
}
.stand-out__image--1 {
  grid-area: net;
}
.stand-out__image--2 {
  grid-area: test-kit;
}
.stand-out__image--3 {
  grid-area: shop;
}

.page-hero {
  min-height: 80svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-hero h1 {
  font-size: clamp(10rem, 10vw, 18rem);
  font-family: "Lobster";
  color: #dfed3c;
  transform: rotate(-10deg);
}

.hero {
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.hero__back-video {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}
.hero__content {
  color: #fff;
  padding: clamp(4rem, 5vw, 6rem);
}
.hero__content h1 {
  font-size: clamp(4rem, 5vw, 7rem);
  text-transform: uppercase;
}
.hero__content p {
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-block-start: 6rem;
}
.hero__content p span {
  color: #dfed3c;
}
.hero__content--tilt {
  transform: rotate(-10deg);
}
.hero__content--tilt span {
  font-family: "Lobster";
  font-size: clamp(8rem, 9vw, 13rem);
  line-height: 1;
  text-transform: capitalize;
  color: #dfed3c;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50rem, 100%), 1fr));
  padding: 5em;
  gap: 3rem;
  background-color: #1c2d5a;
  place-items: center;
}
.footer__navigation nav ul {
  display: flex;
}
.footer__navigation nav ul li {
  list-style: none;
}
.footer__navigation nav ul li a {
  text-decoration: none;
  font-family: "Anybody";
  color: #fff;
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin-inline-end: clamp(2rem, 3vw, 4rem);
  transition: color 0.2s ease-in;
}
.footer__navigation nav ul li a:hover {
  color: #dfed3c;
}
.footer__navigation__social--icons {
  text-align: right;
}
.footer__credits {
  color: #fff;
  font-size: clamp(1.2rem, 1vw, 1.6rem);
}
.footer__credits span a {
  text-decoration: none;
  color: #dfed3c;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: clamp(4rem, 5vw, 10rem);
}
#contact-form .submit {
  width: 25%;
  background-color: #fff;
  color: #1e449a;
  cursor: pointer;
  border-radius: 1rem;
}
#contact-form input,
#contact-form textarea {
  outline: none;
  border: none;
  padding: clamp(1rem, 1vw, 2rem);
  background: none;
  color: #fff;
  border-bottom: 2px solid #fff;
  font-family: "Anybody";
  font-weight: bold;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  margin-block-end: 2rem;
}
#contact-form input::placeholder,
#contact-form textarea::placeholder {
  color: #fff;
  font-family: "Anybody";
  font-weight: bold;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
}

/*# sourceMappingURL=styles.css.map */
