*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Anybody", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .services {
    flex-direction: column;
  }
}
body {
  background-color: lightblue;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#1e449a, #1c2d5a);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.navigation__nav {
  height: 100svh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__link {
  margin-top: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.5s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #1c2d5a;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.services {
  padding: 6rem;
  gap: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c2d5a;
}
.services__content {
  flex: 1;
}
.services__content h2 {
  color: #fff;
  font-size: clamp(2rem, 3vw, 3rem);
  text-transform: capitalize;
  letter-spacing: 2px;
}
.services__content h2 span {
  font-family: "Lobster";
  letter-spacing: 0;
  font-size: clamp(5rem, 6vw, 10rem);
  color: #dfed3c;
}
.services__content p {
  color: #fff;
  font-size: clamp(1.2rem, 2vw, 2rem);
  width: 60%;
  margin-block-start: 2rem;
}
.services__cta {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  background-color: #dfed3c;
  padding: 1em 2em;
  border-radius: 5rem;
  cursor: pointer;
  margin-block-start: 6rem;
}
.services__icons {
  flex: 1;
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
}
.services__containers {
  flex: 30%;
  background-color: #dfed3c;
  border-radius: 2rem;
  padding: 3em;
  text-align: center;
}
.services__containers h3 {
  font-size: clamp(1.3rem, 1vw, 1.6rem);
  text-transform: capitalize;
}

.hero {
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.hero__back-video {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}
.hero__content {
  color: #fff;
  padding: clamp(4rem, 5vw, 6rem);
}
.hero__content h1 {
  font-size: clamp(4rem, 5vw, 7rem);
  text-transform: uppercase;
}
.hero__content p {
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-block-start: 6rem;
}
.hero__content p span {
  color: #dfed3c;
}
.hero__content--tilt {
  transform: rotate(-10deg);
}
.hero__content--tilt span {
  font-family: "Lobster";
  font-size: clamp(8rem, 9vw, 13rem);
  line-height: 1;
  text-transform: capitalize;
  color: #dfed3c;
}

/*# sourceMappingURL=styles.css.map */
