.stand {
  background-color: $secondary-color;
  color: $white-color;
  text-align: center;

  h2 {
    text-transform: capitalize;
    font-size: clamp(2rem, 3vw, 3rem);
    letter-spacing: 2px;

    span {
      font-family: "Lobster";
      letter-spacing: 0;
      font-size: clamp(5rem, 6vw, 7rem);
      color: $tertiary-color;
      line-height: 1;
    }
  }
}

.stand-out {
  margin-block-start: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(650px, 100%), 1fr));

  gap: 3rem;
  &__info {
    &--heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: clamp(7rem, 12vw, 18rem);
      cursor: pointer;
      text-align: left;
      margin-block-end: 2rem;
      h3 {
        font-family: "Kalam";
        font-size: clamp(2rem, 2vw, 2.7rem);
        color: $tertiary-color;
        margin-inline-end: 2rem;
      }

      img {
      }
    }
  }

  &__text {
    p {
      margin-inline: clamp(7rem, 12vw, 18rem);
      text-align: left;
      width: 50%;
      font-size: clamp(1.2rem, 1.5vw, 1.8rem);
    }
  }

  &__image {
    display: grid;
    grid-template-areas:
      "net test-kit test-kit"
      "shop test-kit test-kit";
    place-items: center;
    gap: clamp(1rem, 2vw, 3rem);
    padding: 3rem;

    &--1 {
      grid-area: net;
    }

    &--2 {
      grid-area: test-kit;
    }

    &--3 {
      grid-area: shop;
    }
  }
}
