@media (max-width: 900px) {
  .services {
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .our-story__paragraph {
    text-align: center;
    p {
      margin-block-end: 4rem;
      width: 100% !important;
    }
  }
}
